<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quienes somos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="mi-clase-de-fondo">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" >Consultoria-Perez El Pastor</ion-title>
      </ion-toolbar>
    </ion-header>
    <h1 class="mi-clase-de-texto">Nuestros principales fundamentos</h1>
    <div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <ion-icon name="checkmark-done-outline" style="color: black;font-size: 30px;"></ion-icon>
        <ion-label style="color: black;">Compromiso con el Cliente</ion-label>
      </div>
      <p class="mi-clase-de-texto1">Su éxito es nuestro éxito. Trabajamos mano a mano con usted para comprender sus necesidades específicas y desarrollar soluciones que se adapten a su situación única.</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <ion-icon name="diamond-outline" style="color: black;font-size: 30px;"></ion-icon>
        <ion-label style="color: black;">Excelencia Profesional</ion-label>
      </div>
      <p class="mi-clase-de-texto1">Nuestro equipo está formado por profesionales altamente capacitados y apasionados por lo que hacen. Mantenemos los más altos estándares de calidad en todo lo que emprendemos.</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <ion-icon name="bulb-outline" style="color: black;font-size: 30px;"></ion-icon>
        <ion-label style="color: black;">Innovación Continua</ion-label>
      </div>
      <p class="mi-clase-de-texto1">El mundo empresarial está en constante evolución, y nosotros también. Siempre estamos buscando nuevas formas de mejorar y adoptar las últimas tendencias y tecnologías.</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <ion-icon name="document-lock-outline" style="color: black;font-size: 30px;"></ion-icon>
        <ion-label style="color: black;">Confidencialidad</ion-label>
      </div>
      <p class="mi-clase-de-texto1">Respetamos la confidencialidad de su información y de nuestros acuerdos comerciales. Puede confiar en que sus datos y estrategias estarán protegidos.</p>
    </div>
  
  <video width="100%" height="240" controls >
    <source src="assets/video.mp4" type="video/mp4">
  </video> 
  <h2 class="mi-clase-de-texto">Nuestros servicios</h2>
  <div class="ion-list-container">
    <ion-list>
      <ion-item>
        <ion-label>Consultoría Estratégica</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Consultoría de Gestión</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Consultoría Financiera</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Consultoría de Marketing y Ventas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Consultoría Legal y de Cumplimiento</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <p class="mi-clase-de-texto1">Contáctenos hoy mismo para programar una consulta inicial gratuita y descubrir cómo podemos ayudarle a alcanzar sus objetivos.</p>
</div>
</ion-content>
