<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Consultoria-Perez El Pastor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="mi-clase-de-fondo">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" >Consultoria-Perez El Pastor</ion-title>
      </ion-toolbar>
    </ion-header>
    <h1 class="mi-clase-de-texto">Bienvenidos a Perez El Pastor.SL</h1>
    <h2 class="mi-clase-de-texto">AGENCIA DE CONSULTORIA EMPRESARIAL</h2>
    <p class="mi-clase-de-texto1">En Perez El Pastor, estamos comprometidos con la excelencia en la prestación de servicios de consultoría profesional. Nuestra misión es brindar soluciones efectivas y personalizadas para enfrentar los desafíos más apremiantes de su empresa.
      Con un equipo de expertos altamente calificados y una amplia experiencia en diversas áreas de negocio, estamos listos para ayudarle a alcanzar sus objetivos y superar sus metas. Ya sea que necesite asesoramiento estratégico, optimización de procesos, desarrollo de estrategias de marketing o soluciones tecnológicas avanzadas, nosotros estamos aquí para guiarlo en cada paso del camino.</p>
    <p class="mi-clase-de-texto1" >Con un equipo de expertos altamente calificados y una amplia experiencia en diversas áreas de negocio, estamos listos para ayudarle a alcanzar sus objetivos y superar sus metas. Ya sea que necesite asesoramiento estratégico, optimización de procesos, desarrollo de estrategias de marketing o soluciones tecnológicas avanzadas, nosotros estamos aquí para guiarlo en cada paso del camino.</p>
    <div class="mi-contenedor-de-imagen">
      <img src="/assets/zyro-image.png" alt="mi-imagen" class="mi-imagen">
    </div>
    <div align="center">
      <button routerLink="/tabs/tab1" class="boton1">
        Conoce nuestros servicios
      </button>
    </div>
    </div>
</ion-content>
